In [1]:
import pandas as pd
import numpy as np

In [2]:
def print_full(x):
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.width', 2000)
    pd.set_option('display.float_format', '{:20,.2f}'.format)
    pd.set_option('display.max_colwidth', None)
    print(x)
    pd.reset_option('display.max_rows')
    pd.reset_option('display.max_columns')
    pd.reset_option('display.width')
    pd.reset_option('display.float_format')
    pd.reset_option('display.max_colwidth')

In [3]:
df = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv', encoding = "ISO-8859-1", engine='python')

In [4]:
# Rename all column names to lower

df = df.rename(str.lower, axis='columns')

In [5]:
# Drop all rows with any missing data

df = df.dropna()

In [6]:
df.year = df.year.astype(int)

In [7]:
for i in df.country.unique():
    interest = ['Soviet', 'Germany', 'Russia']
    if any(j for j in interest if j in i):
        print(i)

East Germany
Soviet Union
West Germany
Germany
Russia

In [45]:
d = {}
for i in df.country.unique():
    if '*' in i:
        d[i] = i.replace('*', '')

In [46]:
d

{'Puerto Rico*': 'Puerto Rico',
 'Bermuda*': 'Bermuda',
 'Netherlands Antilles*': 'Netherlands Antilles',
 'Virgin Islands*': 'Virgin Islands',
 'Hong Kong*': 'Hong Kong'}

In [47]:
df.country = df.country.replace({
                    'East Germany' : 'Germany',
                    'West Germany' : 'Germany',
                    'Soviet Union' : 'Russia',
                    'Unified team' : 'Russia'})

df.country = df.country.replace(d)

In [48]:
df.country.unique()

array(['Germany', 'Russia', 'United States', 'Italy', 'Sweden',
       'Australia', 'Canada', 'Netherlands', 'United Kingdom', 'Hungary',
       'Japan', 'Cuba', 'Poland', 'Bulgaria', 'New Zealand', 'Belgium',
       'Mexico', 'Jamaica', 'Finland', 'Romania', 'Portugal', 'France',
       'Brazil', 'Czechoslovakia', 'Trinidad and Tobago', 'Yugoslavia',
       'Venezuela', 'Puerto Rico', 'Korea, North', 'Bermuda', 'Thailand',
       'Spain', 'Denmark', 'Switzerland', 'Pakistan', 'Korea, South',
       'Norway', 'Austria', 'Iran', 'Mongolia', 'Ethiopia', 'Tanzania',
       'Guyana', 'Uganda', 'Ireland', 'India', 'Zimbabwe', 'Greece',
       'Lebanon', 'China', 'Nigeria', 'Kenya', 'Morocco', "Cote d'Ivoire",
       'Algeria', 'Turkey', 'Cameroon', 'Zambia', 'Dominican Republic',
       'Iceland', 'Egypt', 'Colombia', 'Peru', 'Taiwan', 'Syria',
       'Costa Rica', 'Suriname', 'Indonesia', 'Djibouti', 'Senegal',
       'Philippines', 'Netherlands Antilles', 'Virgin Islands', 'Chile',
       'Argentina', 'Bahamas', 'South Africa', 'Namibia', 'Qatar',
       'Lithuania', 'Malaysia', 'Croatia', 'Latvia', 'Estonia', 'Ghana',
       'Israel', 'Slovenia', 'Independent Olympic Participants (1992)',
       'Ukraine', 'Belarus', 'Burundi', 'Ecuador', 'Mozambique',
       'Czech Republic', 'Tunisia', 'Kazakhstan', 'Tonga', 'Uzbekistan',
       'Slovakia', 'Moldova', 'Georgia', 'Hong Kong', 'Armenia',
       'Azerbaijan', 'Saudi Arabia', 'Barbados', 'Sri Lanka', 'Uruguay',
       'Kyrgyzstan', 'Kuwait', 'Vietnam', 'Macedonia', 'Serbia',
       'Eritrea', 'Paraguay', 'United Arab Emirates', 'Panama', 'Sudan',
       'Mauritius', 'Togo', 'Tajikistan', 'Singapore', 'Afghanistan'],
      dtype=object)

In [39]:
def find_medal_total(country, medal):
    return len(df.loc[(df.country == country) & (df.medal == medal)])

In [40]:
print(find_medal_total('United States', 'Gold'))
print(find_medal_total('United States', 'Silver'))
print(find_medal_total('United States', 'Bronze'))

928
583
481

In [42]:
print(find_medal_total('Russia', 'Gold'))
print(find_medal_total('Russia', 'Silver'))
print(find_medal_total('Russia', 'Bronze'))

723
556
603

In [44]:
d

{'Puerto Rico*': 'Puerto Rico',
 'Bermuda*': 'Bermuda',
 'Netherlands Antilles*': 'Netherlands Antilles',
 'Virgin Islands*': 'Virgin Islands',
 'Hong Kong*': 'Hong Kong'}